#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: gerardocopaz # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDDT8jRc8JQlqEwB0XNOUPfwD7CB0oOvTG46YQ7O26s6NuccHCWZJzyoBaHYvOIK2rdJCpA1WKdKfNXRSFqiJ5/2hnilkHh07VQo6pdI+StICmIVOQR/SLAcaoUhPq42p0s6nC7YYYsBLo4Lr2V/Q/l9SaXq4fu55twumH3s/iEeJnqQifu+KVvyUh7rQjPpdGxequJCQykg/1oYplT53t/J+6RVLixAJxQXtkZwryY6AMY5p97mCLPuTsMNuAfd8xA/U9usThRQFpqKUhVg52B532u90vSRlpOho+OlQo0usOW8WomLYprXTW8aoR13C+kUIT5XDxmBc8Rmhk6GBl+MQbn0m8RLyHriv2Jr/R+I2Kb8HwJY+du/MPs/8BfuAkkDhhkxKnjdzvZQs+Xnav/Ya5snKUAi6+SWwv/vWMWkpWON/CppTAyp/a1CnY6tcqZKyNQRjSiVOa9DSj3Ttx3LWbQNPMbJ8X5qCEcHfIbas3qH3kxOWAOtYY9DJ1ZO/k= gerardocopaz@varcog-be
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
